css
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body {
        font-family: 'Fredoka', sans-serif;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Fredoka', sans-serif;
        font-weight: 500 !important;
    }
}

*, *::before, *::after {
    font-family: 'Fredoka', sans-serif;
}

.font-coiny {
    font-family: 'Coiny', cursive !important;
}